<mat-toolbar>
  <div class="flex flex-row gap-2 flex-auto items-center">
    <button (click)="cancel()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title ps-2">{{ title | translate }}</span>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<div class="flex flex-row gap-2 justify-content-start content-stretch">
  <div class="flex flex-col gap-2 p-2 flex-auto">
    <mat-card>
      <mat-stepper #stepper [orientation]="(stepperOrientation | async)!">
        <mat-step [stepControl]="eventForm" errorMessage="{{'event.step.incomplete' | translate}}"
                  label="{{'event.step.event' | translate}}">
          <app-event-change-form-event [form]="eventForm" [hiddenFields]="hiddenFields"></app-event-change-form-event>
          <div class="flex flex-row justify-content-end gap-3 pt-3">
            <button color="primary" mat-flat-button matStepperNext>{{ 'action.next' | translate }}</button>
            <ng-container *ngTemplateOutlet="submitButton"></ng-container>
            <ng-container *ngTemplateOutlet="helpButton"></ng-container>
          </div>
        </mat-step>
        <mat-step [stepControl]="locationForm" errorMessage="{{'event.step.incomplete' | translate}}"
                  label="{{'event.step.location' | translate}}">
          <app-event-change-form-location [form]="locationForm" [hiddenFields]="hiddenFields" [account]="account">
          </app-event-change-form-location>
          <div class="flex flex-row justify-content-end gap-3 pt-3">
            <button color="primary" mat-flat-button matStepperPrevious>{{ 'action.back' | translate }}</button>
            <button color="primary" mat-flat-button matStepperNext>{{ 'action.next' | translate }}</button>
            <ng-container *ngTemplateOutlet="submitButton"></ng-container>
            <ng-container *ngTemplateOutlet="helpButton"></ng-container>
          </div>
        </mat-step>
        <mat-step [stepControl]="registrationForm" errorMessage="{{'event.step.incomplete' | translate}}"
                  label="{{'event.step.registration' | translate}}">
          <app-event-change-form-registration [form]="registrationForm" [hiddenFields]="hiddenFields">
          </app-event-change-form-registration>
          <div class="flex flex-row justify-content-end gap-3 pt-3">
            <button color="primary" mat-flat-button matStepperPrevious>{{ 'action.back' | translate }}</button>
            <ng-container *ngTemplateOutlet="submitButton"></ng-container>
            <ng-container *ngTemplateOutlet="helpButton"></ng-container>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card>
  </div>
  <div *ngIf="helpVisible" class="flex flex-col gap-2 p-2" style="flex: 1 1 250px;">
    <app-event-change-help [step]="stepper.selectedIndex"></app-event-change-help>
  </div>
</div>

<ng-template #submitButton>
  <button (click)="submit()" [disabled]="!fg.valid || !fg.touched || reloading" color="accent" mat-flat-button
          type="submit">
    <mat-icon>save</mat-icon>
    {{ 'action.submit' | translate }}
    <mat-icon *ngIf="reloading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
  </button>
</ng-template>

<ng-template #helpButton>
  <button (click)="toggleHelp('registration')" color="accent" mat-flat-button>
    <mat-icon>support</mat-icon>
    {{ 'action.help' | translate }}
  </button>
</ng-template>
