@if (info) {
  <mat-card>
    <mat-card-header>
      <div class="d-flex flex-row gap-2 align-items-center pb-2">
        <app-account [account]="info.event.owner"></app-account>
        <div class="flex-fill"></div>
        <div>{{ info.event.start | date:'fullDate' }}</div>
        <div>{{ info.event.start | date:'shortTime' }} - {{ info.event.finish | date:'shortTime' }}</div>
      </div>
    </mat-card-header>
    <mat-divider *ngIf="info.event.longText.length > 0"></mat-divider>
    <img *ngIf="info.event.imageUrl && info.event.imageUrl.length > 0" alt="" mat-card-image
         src="{{info.event.imageUrl.length}}">
    <mat-card-content *ngIf="info.event.longText.length > 0">
      <div [innerHTML]="info.event.longText" class="pt-3"></div>
    </mat-card-content>
    <ng-container *ngIf="info.categories.length > 0 || info.event.tags.length > 0">
      <div class="pt-3"></div>
      <mat-divider></mat-divider>
      <mat-card-actions class="d-flex flex-row flex-wrap gap-2">
        <mat-chip-listbox>
          <ng-container *ngFor="let category of info.categories">
            <mat-chip color="primary">
              <mat-icon matChipAvatar>label</mat-icon>
              {{ category.name }}
            </mat-chip>
          </ng-container>
        </mat-chip-listbox>

        <mat-chip-listbox>
          <ng-container *ngFor="let tag of info.event.tags">
            <mat-chip color="accent">
              <mat-icon matChipAvatar>tag</mat-icon>
              {{ tag }}
            </mat-chip>
          </ng-container>
        </mat-chip-listbox>
      </mat-card-actions>
    </ng-container>
  </mat-card>
}
