<mat-progress-bar *ngIf="service.reloading | async" mode="indeterminate"></mat-progress-bar>


<div class="d-flex flex-column gap-2 p-2 ">
  <mat-card>
    <div class="d-flex flex-column">
      <ng-container *ngFor="let info of service.entries">
        <app-event-board-list-entry [info]="info"></app-event-board-list-entry>
      </ng-container>
    </div>
    <!--    <mat-paginator (page)="service.handlePageChange($event)"-->
    <!--                   [length]="service.totalSize"-->
    <!--                   [pageIndex]="service.pageIndex"-->
    <!--                   [pageSizeOptions]="[5, 10, 25, 100]"-->
    <!--                   [pageSize]="service.pageSize"-->
    <!--                   class="mb-2"-->
    <!--    >-->
    <!--    </mat-paginator>-->

    @if (this.service.hasMoreElements && !(this.service.reloading |async)) {
      <button mat-flat-button color="accent" (click)="this.service.onScroll()" class="flex-fill">{{ 'ACTION.LoadMore' | translate }}
      </button>
    }
  </mat-card>
  <div #anchor></div>
</div>
