<mat-progress-bar mode="indeterminate" *ngIf="service.reloading"></mat-progress-bar>


<div class="d-flex flex-column gap-2 p-2 ">
  <mat-card>
    <div class="d-flex flex-column gap-2">
      <ng-container *ngFor="let event of service.events">
        <app-event-board-list-entry [event]="event"></app-event-board-list-entry>
      </ng-container>
    </div>
    <mat-paginator [length]="service.totalSize"
                   [pageIndex]="service.pageIndex"
                   [pageSize]="service.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   class="mb-2"
    >
    </mat-paginator>
  </mat-card>

</div>
