@if (service.reloading | async) {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} @else {
  <div class="flex flex-col gap-2">

    @for (info of service.entries; track info) {
      <app-event-board-list-entry [info]="info"></app-event-board-list-entry>
    }

    @if (this.service.hasMoreElements && !(this.service.reloading |async)) {
      <button mat-flat-button color="accent" (click)="this.service.onScroll()"
              class="flex-auto">{{ 'ACTION.LoadMore' | translate }}
      </button>
    }
    <div #anchor></div>
  </div>

  <div class="flex self-end fixed right-3 bottom-20 z-5">
    <button mat-mini-fab (click)="filterOverlayOpen = !filterOverlayOpen">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>
}


<ng-template cdkConnectedOverlay [cdkConnectedOverlayOpen]="filterOverlayOpen">
  <app-event-board-filter></app-event-board-filter>
</ng-template>
