<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column p-2 mt-5 container">

    <mat-form-field appearance="outline">
      <mat-label>{{'SETTING.Field.Key' | translate}}</mat-label>
      <input matInput type="text" formControlName="key">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'SETTING.Field.Value' | translate}}</mat-label>
      <input matInput type="text" formControlName="value">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'SETTING.Field.Type' | translate}}</mat-label>
      <input matInput type="text" formControlName="type">
    </mat-form-field>


    <div class="d-flex flex-row align-self-stretch">
      <button mat-raised-button color="primary" type="submit" class="flex-grow-1 me-3">
        <mat-icon>save</mat-icon>
        {{"ACTION.Save" | translate}}
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="cancel()" class="flex-grow-1">
        <mat-icon>cancel</mat-icon>
        {{'ACTION.Cancel' | translate}}</button>
    </div>
  </div>
</form>

