<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="flex flex-col p-2 mt-5 container">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SETTING.Field.Key' | translate }}</mat-label>
      <input formControlName="key" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SETTING.Field.Value' | translate }}</mat-label>
      <input formControlName="value" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SETTING.Field.Type' | translate }}</mat-label>
      <input formControlName="type" matInput type="text">
    </mat-form-field>


    <div class="flex flex-row align-self-stretch">
      <button class="flex-grow-1 me-3" color="primary" mat-raised-button type="submit">
        <mat-icon>save</mat-icon>
        {{ "ACTION.Save" | translate }}
      </button>
      <button (click)="cancel()" class="flex-grow-1" color="warn" mat-stroked-button type="button">
        <mat-icon>cancel</mat-icon>
        {{ 'ACTION.Cancel' | translate }}
      </button>
    </div>
  </div>
</form>

