<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">
    <button (click)="back()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title ps-2">{{ info?.event?.title }}</span>
    <div class="flex-fill"></div>

    @if (!reloading && !menu.publishMenuItem.disabled && isAdminOrCanEdit) {
      <button (click)="menu.publishMenuItem.handleClick()" *ngIf="!info?.event?.published" class="action-fab"
              mat-mini-fab>
        <mat-icon *ngIf="!menu.publishing">publish</mat-icon>
        <mat-icon *ngIf="menu.publishing">
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>
      </button>
    }

    @if (!reloading) {
      <app-event-action-export [event]="info?.event"></app-event-action-export>
    }

    @if (isAdminOrCanEdit) {
      <ng-container *ngFor="let item of menu.menuItems">
        <button (click)="item.handleClick()" class="action-fab" mat-mini-fab>
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
      </ng-container>
    }
    @if (isAdminOrCanEdit) {
      <button [matMenuTriggerFor]="contextMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>

<mat-menu #contextMenu="matMenu">
  <ng-container *ngFor="let item of menu.menuItems">
    <button (click)="item.handleClick()" [disabled]="item.disabled" mat-menu-item>
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.text | translate }}
    </button>
  </ng-container>
</mat-menu>
