<mat-sidenav-container autosize class="d-flex flex-column vh-100">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of accessibleItems" mat-list-item routerLink="{{item.url}}" routerLinkActive="active">
        <app-main-nav-entry [collapsed]="collapsed" [item]="item"></app-main-nav-entry>
      </a>
      <a (click)="logout()" mat-list-item>
        <div class="d-flex flex-row gap-2 align-items-center">
          <ng-container *ngIf="collapsed; else logoutElseBlock">
            <div class="d-flex flex-column align-items-center flex-fill">
              <mat-icon>logout</mat-icon>
            </div>
          </ng-container>
          <ng-template #logoutElseBlock>
            <mat-icon>logout</mat-icon>
            <span class="flex-fill">{{ 'action.logout' | translate }}</span>
          </ng-template>
        </div>
      </a>
    </mat-nav-list>


    <div class="d-flex flex-row gap-2 align-items-center collapse-button">
      <ng-container *ngIf="collapsed; else collapseElseBlock">
        <div class="d-flex flex-column align-items-center flex-fill">
          <button (click)="toggleCollapsed()" mat-icon-button>
            <mat-icon>unfold_more</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #collapseElseBlock>
        <button (click)="toggleCollapsed()" mat-button>
          <mat-icon>unfold_more</mat-icon>
          {{ 'action.collapse' | translate }}
        </button>
      </ng-template>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar>
        <div class="d-flex flex-row gap-3 flex-fill align-content-center align-items-center justify-content-center">
          <button
            (click)="drawer.toggle()"
            aria-label="Toggle sidenav"
            mat-icon-button
            type="button">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <ng-container *ngIf="!(isHandset$ | async); else mobileHeader">
            <a routerLink="/"><img src="assets/img/logo.png"/></a>
            <span class="header"> {{ service.title | translate }}</span>
            <div class="flex-fill"></div>
            <mat-chip-listbox>
              <mat-chip-option [selectable]="false" color="accent" selected>
                {{ this.authService.getPrincipal()?.given_name }} {{ this.authService.getPrincipal()?.family_name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </ng-container>
          <ng-template #mobileHeader>
            <div class="flex-fill"></div>
          </ng-template>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
