<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="'dialog'"
               [mode]="'over'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="d-flex flex-row gap-3 flex-fill align-content-center align-items-center justify-content-center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink="/"><img src="assets/img/logo.png"/></a>
        <span class="header">{{'text.welcome' | translate}}</span>
        <div class="flex-fill"></div>
        <mat-chip-listbox>
          <mat-chip-option color="accent" selected [selectable]="false">
            {{this.authService.getPrincipal()?.given_name}} {{this.authService.getPrincipal()?.family_name}}
          </mat-chip-option>
        </mat-chip-listbox>
        <mat-form-field class="dense-1" subscriptSizing="dynamic">
          <mat-select [value]="lang" (selectionChange)="changeLang($event)">
            <mat-option value="en">English</mat-option>
            <mat-option value="de">Deutsch</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
