<app-board [reloading]="reloading" (fullTextSearch)="fullTextSearch = $event" (reload)="reload()" title="event.title" searchPlaceholder="event.search">
  <mat-card>
    <app-event-table [data]="data" [reloading]="reloading" [pageSize]="pageSize" [pageNumber]="pageNumber" [totalElements]="totalElements"
                     (pageEvent)="handlePageChange($event)"
                     (editEvent)="edit($event)"
                     (deleteEvent)="delete($event)"
    ></app-event-table>
  </mat-card>
</app-board>
