<mat-card>
  <div class="flex flex-col gap-2">
    <div class="flex flex-row gap-2 px-3 pt-3">
      <div class="header flex-auto">{{ 'share.title' | translate }}</div>
    </div>
    <mat-divider class="p-0"></mat-divider>
    <app-loading-bar [reloading]="reloading()"></app-loading-bar>
    <div class="flex flex-col justify-center px-3 pb-3 gap-4">
      @if (active()) {
        <share-buttons theme="modern-dark"
                       [include]="['copy', 'facebook', 'email', 'sms', 'telegram', 'whatsapp']"
                       [showIcon]="true"
                       [showText]="true"
                       [url]="share()!!.url"
                       description="{{title()}}"
        >
        </share-buttons>
      } @else {
        <div class="text-sm text-justify hyphens-auto">{{ 'share.info.description.content' | translate }}</div>
        <button mat-flat-button color="accent" (click)="enableSharing()" [disabled]="reloading()">
          {{ 'share.action.activate' | translate }}
        </button>
      }
    </div>
    <mat-divider class="p-0"></mat-divider>
    <div class="flex flex-col gap-2 px-3 pb-3">
      <div class="font-bold">{{ 'share.info.disclaimer.title' | translate }}</div>
      <div class="text-sm text-justify hyphens-auto">{{ 'share.info.disclaimer.content' | translate }}</div>
      @if (active()) {
        <button mat-stroked-button color="warn" (click)="disableSharing()" [disabled]="reloading()"> {{ 'share.action.disable' | translate }}</button>
      }
    </div>
  </div>
</mat-card>
