<mat-card>
  <mat-card-header class="px-2 py-2 ">
    <div class="header flex-fill">{{'registration.title' | translate}}</div>
    <app-registration-status [data]="registration"></app-registration-status>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
    <div class="d-flex flex-column gap-2 py-2">
      <ng-container *ngIf="accepted.length > 0">
        <ng-container *ngFor="let part of accepted; index as i">
          <ng-container [ngTemplateOutlet]="participant" [ngTemplateOutletContext]="{part:part}"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="waitList.length > 0">
        <div class="d-flex flex-row flex-fill gap-2 align-items-center">
          <mat-divider class="flex-fill"></mat-divider>
          <div>{{'registration.waitlist' | translate}}</div>
          <mat-divider class="flex-fill"></mat-divider>
        </div>
        <ng-container *ngFor="let part of waitList; index as i">
          <ng-container [ngTemplateOutlet]="participant" [ngTemplateOutletContext]="{part:part}"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="d-flex flex-row gap-2 flex-fill">
      <button mat-flat-button color="primary" (click)="participateSelf()" *ngIf="!userParticipant">
        <mat-icon>person_add</mat-icon>
        {{'registration.action.participate' | translate}}
      </button>
      <button mat-flat-button color="accent" (click)="editSelf()" *ngIf="userParticipant">
        <mat-icon>manage_accounts</mat-icon>
        {{'registration.action.edit' | translate}}
      </button>
      <button mat-flat-button color="warn" (click)="cancelSelf()" *ngIf="userParticipant">
        <mat-icon>person_remove</mat-icon>
        {{'registration.action.cancel' | translate}}
      </button>
      <div class="flex-fill"></div>
      <button mat-flat-button color="primary" (click)="participateAccount()" *ngIf="adminOrManager">
        <mat-icon>admin_panel_settings</mat-icon>
        {{'registration.action.participateAccount' | translate}}
      </button>
      <button mat-flat-button color="primary" (click)="participateManual()" *ngIf="adminOrManager">
        <mat-icon>admin_panel_settings</mat-icon>
        {{'registration.action.participateManual' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #participant let-part='part'>
  <div class="d-flex flex-row gap-2 align-items-center justify-content-between">
    <app-account [account]="part.author" style="flex: 0 1 calc(25%);"></app-account>
    <span *ngIf="part.size > 1">{{part.size}} {{'registration.people' |translate}}</span>
    <div class="d-flex flex-row gap-2 align-items-center" *ngIf="adminOrManager">
      <button mat-mini-fab (click)="editParticipant(part)" color="primary">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <button mat-mini-fab (click)="removeParticipant(part)" color="primary">
        <mat-icon>person_remove</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
