<mat-card>
  <mat-card-header class="px-2 py-2 ">
    <div class="header flex-fill">{{ 'registration.title' | translate }}</div>
    <app-registration-status [data]="registration"></app-registration-status>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
    <div class="d-flex flex-column gap-2 py-2">
      <ng-container *ngIf="accepted.length > 0">
        <ng-container *ngFor="let part of accepted; index as i">
          <ng-container [ngTemplateOutletContext]="{part:part}" [ngTemplateOutlet]="participant"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="waitList.length > 0">
        <div class="d-flex flex-row flex-fill gap-2 align-items-center">
          <mat-divider class="flex-fill"></mat-divider>
          <div>{{ 'registration.waitlist' | translate }}</div>
          <mat-divider class="flex-fill"></mat-divider>
        </div>
        <ng-container *ngFor="let part of waitList; index as i">
          <ng-container [ngTemplateOutletContext]="{part:part}" [ngTemplateOutlet]="participant"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="d-flex flex-row gap-2 flex-fill">
      <button (click)="participateSelf()" *ngIf="!userParticipant" color="primary" mat-flat-button>
        <mat-icon>person_add</mat-icon>
        {{ 'registration.action.participate' | translate }}
      </button>
      <button (click)="editSelf()" *ngIf="userParticipant" color="accent" mat-flat-button>
        <mat-icon>manage_accounts</mat-icon>
        {{ 'registration.action.edit' | translate }}
      </button>
      <button (click)="cancelSelf()" *ngIf="userParticipant" color="warn" mat-flat-button>
        <mat-icon>person_remove</mat-icon>
        {{ 'registration.action.cancel' | translate }}
      </button>
      <div class="flex-fill"></div>
      <button (click)="participateAccount()" *ngIf="adminOrManager" color="primary" mat-flat-button>
        <mat-icon>admin_panel_settings</mat-icon>
        {{ 'registration.action.participateAccount' | translate }}
      </button>
      <button (click)="participateManual()" *ngIf="adminOrManager" color="primary" mat-flat-button>
        <mat-icon>admin_panel_settings</mat-icon>
        {{ 'registration.action.participateManual' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #participant let-part='part'>
  <div class="d-flex flex-row gap-2 align-items-center justify-content-between">
    <app-account [account]="part.author" style="flex: 0 1 calc(25%);"></app-account>
    <span *ngIf="part.size > 1">{{ part.size }} {{ 'registration.people' |translate }}</span>
    <div *ngIf="adminOrManager" class="d-flex flex-row gap-2 align-items-center">
      <button (click)="editParticipant(part)" color="primary" mat-mini-fab>
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <button (click)="removeParticipant(part)" color="primary" mat-mini-fab>
        <mat-icon>person_remove</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
