<table [dataSource]="data()" mat-table>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.id' | translate }}</th>
    <td *matCellDef="let event" mat-cell>{{ event.id }}</td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.owner' | translate }}</th>
    <td *matCellDef="let event" mat-cell>{{ event.owner | accountDisplayName }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.title' | translate }}</th>
    <td *matCellDef="let event" mat-cell>{{ event.title }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.date' | translate }}</th>
    <td *matCellDef="let event" mat-cell>
      <div class="flex flex-col gap-1">
        <div class="text-sm">{{ event.start |date:'medium' }}</div>
        <div class="text-sm">{{ event.finish |date:'medium' }}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="participants">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.participants' | translate }}</th>
    <td *matCellDef="let event" mat-cell>
      <div class="flex flex-row gap-1">
        <div class="text-sm bg-gray-200 rounded px-2 py-1 flex flex-row gap-2 justify-center items-center">
          @if (event.hasSpaceLeft) {
            <div class="rounded-lg bg-green-500 p-1.5"></div>
          } @else {
            <div class="rounded-lg bg-orange-300 p-1.5"></div>
          }
          <div>{{ event.maxGuestAmount }}</div>
          @if (event.amountAccepted > 0) {
            <div> // {{ event.amountAccepted }}</div>
          }

          @if (event.amountOnWaitingList > 0) {
            <div> // {{ event.amountOnWaitingList }}</div>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="published">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.published' | translate }}</th>
    <td *matCellDef="let event" mat-cell>
      <lib-event-published-icon [event]="event"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th *matHeaderCellDef mat-header-cell>{{ 'event.property.tags' | translate }}</th>
    <td *matCellDef="let event" mat-cell>{{ event.tags }}</td>
  </ng-container>

  <ng-container matColumnDef="cmd">
    <th *matHeaderCellDef class="col-1" mat-header-cell></th>
    <td *matCellDef="let event" mat-cell>
      <div class="flex flex-row gap-2 justify-end">
        @if (!event.published) {
          <button color="primary" mat-icon-button (click)="publishEvent.emit(event); $event.stopPropagation()">
            <mat-icon>publish</mat-icon>
          </button>
        }
        <button color="primary" mat-icon-button (click)="editEvent.emit(event); $event.stopPropagation()">
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warn" mat-icon-button (click)="deleteEvent.emit(event); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
        <button color="accent" mat-icon-button routerLink="/event/details/{{event.id}}">
          <mat-icon>arrow_circle_right</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row class="bg-primary-default"></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row class="table-content-row cursor-pointer" routerLink="/event/details/{{row.id}}"></tr>

</table>
@if (totalElements() > data().length) {
  <mat-paginator
    (page)="pageEvent.emit($event)"
    [disabled]="reloading()"
    [length]="totalElements()"
    [pageIndex]="pageNumber()"
    [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize()"
    showFirstLastButtons
  >
  </mat-paginator>
}
