<form [formGroup]="form()">
  <div class="flex flex-col gap-4 align-items-stretch flex-auto pt-2">
    <!-- title-->
    @if (isVisible('title')) {
      <mat-form-field class="dense-1" hintLabel="{{'event.form.hint.Title' | translate}}">
        <mat-label>{{ 'event.form.title' | translate }}</mat-label>
        <input #titleInput formControlName="title" matInput maxlength="40">
        <mat-hint align="end">{{ titleInput.value.length || 0 }}/40</mat-hint>
        <mat-error *ngIf="!title?.valid && title?.touched">
          {{ 'event.form.error.title' | translate }}
        </mat-error>
      </mat-form-field>
    }
    <!-- shortText-->
    @if (isVisible('shortText')) {
      <mat-form-field class="dense-1">
        <mat-label>{{ 'event.form.shortText' | translate }}</mat-label>
        <input formControlName="shortText" matInput>
        <mat-hint>{{ 'event.form.hint.shortText'| translate }}</mat-hint>
        <mat-error *ngIf="!shortText?.valid && shortText?.touched">
          {{ 'event.form.error.shortText' | translate }}
        </mat-error>
      </mat-form-field>
    }
    <!-- longText-->
    @if (isVisible('longText')) {
      <mat-form-field class="dense-1">
        <textarea matInput placeholder="{{'event.form.longText' | translate}}"></textarea>
        <mat-hint>{{ 'event.form.hint.LongDescr' | translate }}</mat-hint>
        <mat-error *ngIf="!longText?.valid && longText?.touched" class="ps-3">
          {{ 'event.form.error.longText' | translate }}
        </mat-error>
      </mat-form-field>
    }
    <!-- imageUrl-->
    @if (isVisible('imageUrl')) {
      <mat-form-field class="dense-1">
        <mat-label>{{ 'event.form.imageUrl' | translate }}</mat-label>
        <input formControlName="imageUrl" matInput>
        <mat-hint>{{ 'event.form.hint.imageUrl'| translate }}</mat-hint>
      </mat-form-field>
    }
    <!-- iconUrl-->
    @if (isVisible('iconUrl')) {
      <mat-form-field class="dense-1">
        <mat-label>{{ 'event.form.iconUrl' | translate }}</mat-label>
        <input formControlName="iconUrl" matInput>
        <mat-hint>{{ 'event.form.hint.iconUrl'| translate }}</mat-hint>
      </mat-form-field>
    }

    <div class="flex flex-row gap-3 align-items-stretch">
      <!-- startDate-->
      @if (isVisible('startDate')) {
        <mat-form-field class="dense-1 flex-auto">
          <mat-label>{{ 'event.form.startDate' | translate }}</mat-label>
          <input [matDatepicker]="startPicker" formControlName="startDate" matInput>
          <mat-datepicker-toggle [for]="startPicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-hint>{{ 'event.form.hint.startDate'| translate }}</mat-hint>
        </mat-form-field>
      }
      <!-- endDate-->
      @if (isVisible('endDate')) {
        <mat-form-field class="dense-1 flex-auto">
          <mat-label>{{ 'event.form.endDate' | translate }}</mat-label>
          <input [matDatepicker]="endPicker" formControlName="endDate" matInput>
          <mat-datepicker-toggle [for]="endPicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-hint>{{ 'event.form.hint.endDate'| translate }}</mat-hint>
        </mat-form-field>
      }
    </div>
    <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row sm:flex-col gap-3 align-items-stretch">
      <!-- startTime-->
      @if (isVisible('startTime')) {
        <mat-form-field class="dense-1 flex-auto">
          <mat-label>{{ 'event.form.startTime' | translate }}</mat-label>
          <input formControlName="startTime" matInput type="time">
          <mat-hint>{{ 'event.form.hint.startTime'| translate }}</mat-hint>
        </mat-form-field>
      }
      <!-- endTime-->
      @if (isVisible('endTime')) {
        <mat-form-field class="dense-1 flex-auto">
          <mat-label>{{ 'event.form.endTime' | translate }}</mat-label>
          <input formControlName="endTime" matInput type="time">
          <mat-hint>{{ 'event.form.hint.endTime'| translate }}</mat-hint>
        </mat-form-field>
      }
    </div>

  </div>
</form>
