<div class="flex flex-col gap-0">
  <app-event-board-header (modeChanged)="this.mode = $event" [mobileView]="mobileView"
                          [mode]="mode"></app-event-board-header>
  <div class="flex flex-row gap-4 p-4">
    <div class="flex-auto">
      @if (mobileView) {
        <app-event-board-list></app-event-board-list>
      } @else {
        @switch (mode) {
          @case ('map') {
            <app-event-board-map></app-event-board-map>
          }
          @case ('calendar') {
            <app-event-board-calendar></app-event-board-calendar>
          }
          @default {
            <app-event-board-table></app-event-board-table>
          }
        }
      }
    </div>
    @if (service.filterToolbarVisible) {
      <div class="basis-72">
        <app-event-board-filter></app-event-board-filter>
      </div>
    }
  </div>
</div>
