<app-event-board-header [mobileView]="mobileView" (modeChanged)="this.mode = $event"
                        [mode]="mode"></app-event-board-header>
<ng-container *ngIf="!mobileView;else eventList">
  <ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'map'">
      <app-event-board-map></app-event-board-map>
    </ng-container>
    <ng-container *ngSwitchCase="'calendar'">
      <app-event-board-calendar></app-event-board-calendar>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <app-event-board-table></app-event-board-table>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #eventList>
  <app-event-board-list></app-event-board-list>
</ng-template>
