<app-board-toolbar [title]="title()"
                   [searchPlaceholder]="searchPlaceholder()"
                   [showReload]="showReload()"
                   [showSearch]="showSearch()"
                   (fullTextSearch)="fullTextSearch.emit($event)"
                   (reload)="reload.emit($event)">
  <toolbar-actions>
    <ng-content select="board-toolbar-actions"></ng-content>
  </toolbar-actions>
</app-board-toolbar>
<app-loading-bar [reloading]="reloading()"/>
<div class="flex flex-col gap-2 p-4">
  <ng-content/>
</div>
