<div class="bg-primary-default flex flex-row justify-between items-center p-4">
  <div class="text-2xl font-bold">{{ "address.dialog.create.title" | translate }}</div>
  <div class="bg-accent-default rounded px-4 py-1">{{ data.name }}</div>
</div>
<div mat-dialog-content>
  <lib-address-change (request)="handleRequest($event)" #change></lib-address-change>
</div>
<mat-dialog-actions align="end">
  <div class="flex flex-row gap-2">
    <button cdkFocusInitial color="primary" mat-stroked-button (click)="change.submit()">
      <mat-icon>save</mat-icon>
      {{ "action.submit" | translate }}
    </button>
    <button color="warn" mat-stroked-button (click)="onCancelClick()">
      <mat-icon>cancel</mat-icon>
      {{ "action.cancel" | translate }}
    </button>
  </div>
</mat-dialog-actions>
