<h1 mat-dialog-title>{{ "account.dialog.search.title" | translate }}</h1>
<div mat-dialog-content>
  <div class="flex flex-col gap-2">
    <div class="flex flex-row gap-2 py-2">
      <mat-form-field class="dense-1" style="flex: 1 1 calc(50%);" subscriptSizing="dynamic">
        <mat-label>{{ 'account.search' | translate }}</mat-label>
        <input #input (keyup)="keyUp.emit(input.value)" matInput placeholder="" value="">
        <mat-icon *ngIf="searching">
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>

        <button (click)="input.value = ''; search('')" *ngIf="input.value.length > 0" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>

      </mat-form-field>
      <button (click)="search(input.value)" color="accent" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
    <table [dataSource]="accounts" mat-table class="w-full">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> {{ 'account.form.name' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th *matHeaderCellDef mat-header-cell> {{ 'account.form.firstName' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{ element.firstName }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th *matHeaderCellDef mat-header-cell> {{ 'account.form.lastName' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{ element.lastName }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell> {{ 'account.form.email' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{ element.email }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

  </div>
</div>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="true" color="primary" mat-flat-button>
    <mat-icon>check</mat-icon>
    {{ "action.ok" | translate }}
  </button>
</mat-dialog-actions>

