<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">

    <div class="d-flex flex-row gap-2 flex-fill align-items-center" style="flex: 0 1 calc(50% - .5rem - 100px)">
      <mat-form-field class="dense-1" style="flex: 0 1 calc(50%);" subscriptSizing="dynamic">
        <mat-label>{{ 'setting.search' | translate }}</mat-label>
        <input #input (keyup)="keyUp.emit(input.value)" [disabled]="reloading" matInput placeholder="" value="">
      </mat-form-field>
      <button (click)="search(input.value)" color="accent" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>

    </div>

    <div class="flex-fill"></div>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

  </div>
</mat-toolbar>


<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<div class="d-flex flex-column gap-2 p-2 ">
  <mat-card>
    <table [dataSource]="data" mat-table>
      <caption>Setting Entries</caption>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>{{ 'setting.key' | translate }}</th>
        <td *matCellDef="let setting" mat-cell>{{ setting.key }}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th *matHeaderCellDef mat-header-cell>{{ 'setting.value' | translate }}</th>
        <td *matCellDef="let setting" mat-cell>{{ setting.value }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell>{{ 'setting.type' | translate }}</th>
        <td *matCellDef="let setting" mat-cell>{{ setting.type }}</td>
      </ng-container>

      <ng-container matColumnDef="cmd">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let setting" class="cmd-cell" mat-cell>
          <button color="primary" mat-mini-fab routerLink="./edit/{{setting.id}}">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator
      (page)="handlePageChange($event)"
      [disabled]="reloading"
      [length]="totalElements"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card>

</div>
