tr.header {
  background-color: #FAFAFA;
}
.mat-column-action {
  max-width: 128px !important;
}

tr.row:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

tr.row {
  font-size: 14px;
}

.mdc-fab--mini {
  max-width: 24px !important;
  max-height: 24px !important;
}
