<h1 mat-dialog-title>{{ "account.dialog.create.title" | translate }}</h1>
<div mat-dialog-content>
<lib-account-change [data]="data" (request)="handleRequest($event)" #change>
</div>
<mat-dialog-actions align="end">
  <button (click)="change.submit()" [disabled]="!change.fg.valid" color="primary" mat-flat-button>
    <mat-icon>check</mat-icon>
    {{ "action.submit" | translate }}
  </button>
  <button color="warn" mat-dialog-close mat-flat-button>
    <mat-icon>cancel</mat-icon>
    {{ "action.cancel" | translate }}
  </button>
</mat-dialog-actions>

