<h1 mat-dialog-title class="bg-primary-default">{{ "event.dialog.delete.title" | translate }}
</h1>
<div mat-dialog-content class="!pt-4">
  <div class="flex flex-col gap-3">
    <p>{{ "event.dialog.delete.question" | translate }}</p>
    <div class="flex flex-col gap-2 ps-4">
      <div>{{ data.title }}</div>
      <div>{{ data.owner | accountDisplayName }}</div>
      <div>{{ data.start | date:'medium' }}</div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <div class="flex flex-row gap-2">
    <button cdkFocusInitial color="primary" mat-stroked-button (click)="onYesClick()">
      <mat-icon>check</mat-icon>
      {{ "action.yes" | translate }}
    </button>
    <button color="warn" mat-stroked-button (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>
      {{ "action.no" | translate }}
    </button>
  </div>
</mat-dialog-actions>
