<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">

    <div class="d-flex flex-row gap-2 flex-fill align-items-center" style="flex: 0 1 calc(50% - .5rem - 100px)">
      <mat-form-field class="dense-1" style="flex: 0 1 calc(50%);" subscriptSizing="dynamic">
        <mat-label>{{ 'category.search' | translate }}</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
      <button color="accent" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>

    </div>

    <button color="accent" extended mat-fab routerLink="./create" style="flex: 0 1 200px;">
      <mat-icon>new_label</mat-icon>
      {{ 'category.create' | translate }}
    </button>
    <div class="flex-fill"></div>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

  </div>
</mat-toolbar>

<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>


<div class="d-flex flex-column gap-2 p-2 ">
  <mat-card>
    <div class="d-flex flex-column">
      <ng-container *ngFor="let category of categories">
        <div class="d-flex flex-row gap-5 align-items-center align-content-stretch px-4 py-2 flex-fill list-entry">
          <div>{{ category.name }}</div>
          <div class="flex-fill"></div>
          <div class="d-flex flex-row gap-2">
            <a color="primary" mat-mini-fab routerLink="edit/{{category.id}}">
              <mat-icon>edit</mat-icon>
            </a>
            <button color="primary" mat-mini-fab>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
    <mat-paginator [length]="totalSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="pageSize"
                   class="mb-2"
    >
    </mat-paginator>
  </mat-card>

</div>

