<mat-toolbar color="primary">
  <div class="flex flex-row gap-2 flex-auto items-center">
    <button (click)="back()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title ps-2">{{ info?.event?.title }}</span>
    <div class="flex-auto"></div>


    @if (!reloading) {
      <app-event-action-export [event]="info?.event"></app-event-action-export>
    }

  </div>
</mat-toolbar>

<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="info" class="flex flex-col gap-2 content-stretch p-2">
  <app-registration-moderation *ngIf="info.registration" [data]="info.registration"></app-registration-moderation>
</div>
