<mat-card>
  <mat-card-header class="!pb-2 gap-2 items-center">
    <mat-icon>manage_accounts</mat-icon>
    <div class="header flex-auto">{{ 'backoffice.account.title' | translate }}</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="flex flex-row justify-between items-center">
          <span>{{ 'backoffice.account.action.search'| translate }}</span>
          <button (click)="showSearchAccountDialog()" color="primary" mat-mini-fab>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <div class="flex flex-row justify-between items-center">
          <span>{{ 'backoffice.account.action.create'| translate }}</span>
          <button (click)="showCreateAccountDialog()" color="primary" mat-mini-fab>
            <mat-icon *ngIf="!accountCreating">add</mat-icon>
            <mat-icon *ngIf="accountCreating">
              <mat-spinner color="primary" diameter="22"></mat-spinner>
            </mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
