<mat-card>
  <div class="flex gap-3 p-3 items-center">
    <mat-icon>manage_accounts</mat-icon>
    <div class="header flex-auto">{{ 'backoffice.account.title' | translate }}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="flex flex-col gap-4 p-3">
    <div class="flex flex-row justify-between items-center gap-3">
      <span>{{ 'backoffice.account.action.search'| translate }}</span>
      <button (click)="showSearchAccountDialog()" color="primary" mat-mini-fab class="toolbar-action-fab">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="flex flex-row justify-between items-center gap-3">
      <span>{{ 'backoffice.account.action.create'| translate }}</span>
      <button (click)="showCreateAccountDialog()" color="primary" mat-mini-fab class="toolbar-action-fab">
        <mat-icon *ngIf="!accountCreating">add</mat-icon>
        <mat-icon *ngIf="accountCreating">
          <mat-spinner color="primary" diameter="22"></mat-spinner>
        </mat-icon>
      </button>
    </div>
  </div>
</mat-card>
