<mat-form-field *ngIf="formCtrl" class="flex-fill dense-1 w-100">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-chip-grid #chipGrid aria-label="Entry selection">
    <mat-chip-row (removed)="handleRemoveEvent(entry)" *ngFor="let entry of selectedEntries" [removable]="removable">
      {{ entry.name }}
      <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
    </mat-chip-row>
  </mat-chip-grid>
  <input #entryInput
         [formControl]="formCtrl"
         [matAutocomplete]="auto"
         [matChipInputFor]="chipGrid"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleSelectedEvent($event)">
    <mat-option *ngFor="let entry of filteredEntries" [value]="entry">
      {{ entry.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
