<app-loading-bar [reloading]="service.reloading()"></app-loading-bar>

<div class="flex flex-col gap-2">
  <mat-card>

    <table [dataSource]="service.entries" mat-table>

      <!-- Account Column -->
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>account_box</mat-icon>
            <span>{{ 'event.table.account' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <app-account [account]="info.owner"></app-account>
        </td>
      </ng-container>

      <!-- Period Column -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>schedule</mat-icon>
            <span>{{ 'event.table.period' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row gap-2 items-center flex-auto">
            <div class="flex flex-col gap-1">
              <div>{{ info.start | date:'fullDate' }}</div>
              <div style="color: #707070">{{ info.start | date:'shortTime' }}- {{ info.finish | date:'shortTime' }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>pin_drop</mat-icon>
            <span>{{ 'event.table.location' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          @if (info.hasLocation) {
            <div class="flex flex-row gap-2 items-center flex-auto">
              <div class="flex flex-col gap-1">
                <div>{{ info.street }} {{ info.streetNumber }}</div>
                <div style="color: #707070">{{ info.zip }} {{ info.city }}</div>
              </div>
            </div>
          }
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>description</mat-icon>
            <span>{{ 'event.table.description' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <div>{{ info.title }}</div>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>groups</mat-icon>
            <span>{{ 'event.table.status' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row gap-2 items-center flex-auto">
            <lib-registration-status [entry]="info"></lib-registration-status>
          </div>
        </td>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>label</mat-icon>
            <span>{{ 'event.table.label' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-col gap-0">
            <div class="flex flex-row flex-wrap gap-2 items-center">
              @for (category of info.categories; track category) {
                <b>{{ category }}</b>
              }
            </div>
            <div class="flex flex-row flex-wrap gap-2 items-center">
              @for (tag of info.tags; track tag) {
                #{{ tag }}
              }
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Publish Column -->
      <ng-container matColumnDef="publish">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex flex-row gap-3 items-center">
            <mat-icon>account_box</mat-icon>
            <span>{{ 'event.table.publish' | translate }}</span>
          </div>
        </th>
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row flex-wrap">
            @if (!info.published) {
              <button class="action-fab" mat-mini-fab>
                <mat-icon>unpublished</mat-icon>
              </button>
            }
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" class="row" mat-row routerLink="./details/{{row.id}}">
      </tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator (page)="service.handlePageChange($event)"
                   [length]="service.totalSize"
                   [pageIndex]="service.pageIndex"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="service.pageSize"
                   class="mb-2 pe-5"
                   showFirstLastButtons="true"
    >
    </mat-paginator>
  </mat-card>

</div>
