<div class="flex flex-col gap-2 items-center flex-auto">
  <mat-toolbar>
    <div class="flex flex-row gap-3 flex-auto content-center items-center justify-center">
      <a routerLink="/"><img src="img/logo.png"/></a>
      <div class="flex-auto"></div>
    </div>
  </mat-toolbar>
  <app-loading-bar [reloading]="loading()"></app-loading-bar>
  @if (event()) {
    <app-event-info [event]="event()!!" (participateEvent)="participate()" [processing]="processing()" class="container flex-auto"/>
  }
</div>
