<mat-toolbar color="primary">
  <div class="flex flex-row gap-2 flex-auto items-center">
    <button (click)="back()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h3>{{ 'backoffice.event.action.create' | translate }}</h3>
    <div class="flex-auto"></div>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<div class="flex flex-row gap-2 justify-content-start content-stretch">
  <div class="flex flex-col gap-2 p-2 flex-auto">
    <mat-card>
      <div class="flex flex-col gap-2 p-2 flex-auto">
        <app-select-account [form]="ownerForm"></app-select-account>

        <app-event-change-form-event [form]="eventForm" [hiddenFields]="hiddenFields">

        </app-event-change-form-event>
        <app-event-change-form-location [form]="locationForm" [hiddenFields]="hiddenFields">

        </app-event-change-form-location>
        <app-event-change-form-registration [form]="registrationForm" [hiddenFields]="hiddenFields">
        </app-event-change-form-registration>
      </div>
      <mat-card-actions>
        <button (click)="submit()" [disabled]="!fg.valid || !fg.touched || reloading" color="accent" mat-flat-button
                type="submit">
          {{ 'action.submit' | translate }}
          <mat-icon *ngIf="reloading">
            <mat-spinner diameter="18"></mat-spinner>
          </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
