<app-event-details-header (changed)="reload()" [data]="info" [reloading]="reloading"></app-event-details-header>

<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
@if (info) {
  <div class="flex lg:flex-row flex-col gap-2 flex-auto p-2">
    <div class="flex flex-col gap-2 left-column">
      <app-event-details-info [info]="info"></app-event-details-info>
      <app-event-details-location [info]="info"></app-event-details-location>
    </div>
    <div class="flex flex-col gap-2 right-column">
      <app-registration-details *ngIf="info.registration" [data]="info.registration"></app-registration-details>
      <app-share-details [data]="info.event"></app-share-details>
    </div>
  </div>
}
