<mat-toolbar>
  <div class="flex flex-row gap-2 flex-auto items-center">
    <button (click)="cancel()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title ps-2">{{ "event.change.create" | translate }}</span>
    <div class="flex-auto"></div>
  </div>
</mat-toolbar>
<lib-event-change title=""
                  [addressReadAPI]="this"
                  [categoryReadAPI]="this"
                  [eventReadAPI]="this"
                  (request)="handleRequest($event)"
                  (cancel)="cancel()"
>
</lib-event-change>
