<mat-toolbar>
  <div class="flex flex-row gap-2 flex-auto items-center">
    <h3>{{ 'history.title' | translate }}</h3>
    <div class="flex-auto"></div>
    <button (click)="reload()" class="toolbar-action-fab" mat-mini-fab>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<div class="flex flex-row gap-2 flex-auto !p-4">
  <mat-card class="flex-auto basis-48">
    <div class="flex flex-col">
      @for (d of data; track d) {
        <div class="flex flex-row justify-between items-center px-2 py-1 min-h-10 hover:bg-gray-200"
             [ngClass]="selected === d ? 'bg-gray-100' : ''" (click)="selected = d">
          <div class="font-bold">{{ d.event.title }}</div>
          <div
            class="font-light bg-gray-200 text-xs border border-gray-300 border-solid rounded px-3 py-1"> {{ d.entries[0].timestamp | date:'medium' }}
          </div>
        </div>
        <mat-divider></mat-divider>
      }
      <mat-paginator
        (page)="handlePageChange($event)"
        [disabled]="reloading"
        [length]="totalElements"
        [pageIndex]="pageNumber"
        [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card>
  @if (selected) {
    <mat-card class="flex-auto">
      <div class="flex flex-col flex-auto">
        <table [dataSource]="selected.entries" mat-table>

          <ng-container matColumnDef="timestamp">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.timestamp' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.timestamp | date:'medium' }}</td>
          </ng-container>

          <ng-container matColumnDef="actor">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.actor' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.actor | accountDisplayName }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.type' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.type }}</td>
          </ng-container>

          <ng-container matColumnDef="message">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.message' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.message }}</td>
          </ng-container>

          <ng-container matColumnDef="source">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.source' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.source }}</td>
          </ng-container>

          <ng-container matColumnDef="info">
            <th *matHeaderCellDef mat-header-cell> {{ 'history.table.info' | translate }}</th>
            <td *matCellDef="let element" mat-cell> {{ element.info }}</td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <div class="flex-auto"></div>
      </div>
    </mat-card>
  }
</div>


<!--  <div class="flex flex-col gap-2">-->
<!--    <ng-container *ngFor="let d of data ">-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            <mat-icon>event_note</mat-icon>-->
<!--            <div>{{ d.event.title }}</div>-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description>-->
<!--            <div>{{ d.entries[0].timestamp | date:'medium' }}</div>-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->

<!--        <div class="flex flex-col flex-auto">-->
<!--          <table [dataSource]="d.entries" class="flex-auto" mat-table>-->

<!--            <ng-container matColumnDef="timestamp">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.timestamp' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.timestamp | date:'medium' }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="actor">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.actor' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.actor | accountDisplayName }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="type">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.type' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.type }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="message">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.message' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.message }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="source">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.source' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.source }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="info">-->
<!--              <th *matHeaderCellDef mat-header-cell> {{ 'history.table.info' | translate }}</th>-->
<!--              <td *matCellDef="let element" mat-cell> {{ element.info }}</td>-->
<!--            </ng-container>-->

<!--            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>-->
<!--            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>-->
<!--          </table>-->
<!--        </div>-->
<!--        <mat-divider></mat-divider>-->
<!--        <mat-card-actions>-->
<!--          <app-event-action-export [event]="d.event"></app-event-action-export>-->
<!--        </mat-card-actions>-->
<!--      </mat-expansion-panel>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--  <mat-paginator-->
<!--    (page)="handlePageChange($event)"-->
<!--    [disabled]="reloading"-->
<!--    [length]="totalElements"-->
<!--    [pageIndex]="pageNumber"-->
<!--    [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"-->
<!--    showFirstLastButtons-->
<!--  >-->
<!--  </mat-paginator>-->
<!--</div>-->


