@use '@angular/material' as mat;

@include mat.core();

$open-event-primary: mat.define-palette(mat.$gray-palette, 800);
$open-event-accent: mat.define-palette(mat.$green-palette, 700);
$open-event-warn: mat.define-palette(mat.$red-palette,900);

$open-event-theme: mat.define-light-theme((
  color: (
    primary: $open-event-primary,
    accent: $open-event-accent,
    warn: $open-event-warn,
  )
));

@include mat.all-component-themes($open-event-theme);

@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dense-1 {
  @include mat.all-component-densities(-3);
}
