<h2 mat-dialog-title>{{ "registration.dialog.confirm.title" | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="fg">
    <div class="flex flex-col gap-2">
      <p>{{ "registration.dialog.confirm.question" | translate }}</p>

      <mat-form-field class="dense-1">
        <mat-label>{{ "registration.code" | translate }}</mat-label>
        <input formControlName="code" matInput required>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="submit()" color="primary" mat-flat-button>
    <mat-icon>check</mat-icon>
    {{ "action.submit" | translate }}
  </button>
  <button color="warn" mat-dialog-close mat-flat-button>
    <mat-icon>cancel</mat-icon>
    {{ "action.cancel" | translate }}
  </button>
</mat-dialog-actions>
