<mat-progress-bar mode="indeterminate" *ngIf="service.reloading"></mat-progress-bar>


<div class="d-flex flex-column gap-2 p-2 ">
  <mat-card>

    <table mat-table [dataSource]="service.infos">

      <!-- Account Column -->
      <ng-container matColumnDef="account">
        <td mat-cell *matCellDef="let info">
          <app-account [account]="info.event.owner"></app-account>
        </td>
      </ng-container>

      <!-- Period Column -->
      <ng-container matColumnDef="period">
        <td mat-cell *matCellDef="let info">
          <div class="d-flex flex-row gap-2 align-items-center flex-fill">
            <mat-icon>schedule</mat-icon>
            <div class="d-flex flex-column gap-1">
              <div>{{info.event.start | date:'fullDate'}}</div>
              <div>{{info.event.start | date:'shortTime'}} - {{info.event.finish | date:'shortTime'}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <td mat-cell *matCellDef="let info">
          <div class="d-flex flex-row gap-2 align-items-center flex-fill" *ngIf="info.location">
            <mat-icon>location_pin</mat-icon>
            <div class="d-flex flex-column gap-1">
              <div>{{info.location.street}} {{info.location.streetNumber}}</div>
              <div>{{info.location.zip}} {{info.location.city}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <td mat-cell *matCellDef="let info">
          <div class="d-flex flex-row gap-2 align-items-center flex-fill">
            <mat-icon>description</mat-icon>
            <div>{{info.event.longText}}</div>
          </div>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <td mat-cell *matCellDef="let info">
          <div class="d-flex flex-row gap-2 align-items-center flex-fill">
            <span style="color:red">TODO Status</span>
          </div>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <td mat-cell *matCellDef="let info">
          <div class="d-flex flex-row gap-2 align-items-center flex-fill">
            <mat-chip-listbox>
              <ng-container *ngFor="let category of info.categories">
                <mat-chip>{{category.name}}</mat-chip>
              </ng-container>
            </mat-chip-listbox>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./details/{{row.event.id}}"
          class="row"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator [length]="service.totalSize"
                   [pageIndex]="service.pageIndex"
                   [pageSize]="service.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   class="mb-2"
    >
    </mat-paginator>
  </mat-card>

</div>
