<mat-progress-bar *ngIf="service.reloading | async" mode="indeterminate"></mat-progress-bar>


<div class="flex flex-col gap-2">
  <mat-card>

    <table [dataSource]="service.entries" mat-table>

      <!-- Account Column -->
      <ng-container matColumnDef="account">
        <td *matCellDef="let info" mat-cell>
          <app-account [account]="info.owner"></app-account>
        </td>
      </ng-container>

      <!-- Period Column -->
      <ng-container matColumnDef="period">
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row gap-2 items-center flex-auto">
            <mat-icon>schedule</mat-icon>
            <div class="flex flex-col gap-1">
              <div>{{ info.start | date:'fullDate' }}</div>
              <div>{{ info.start | date:'shortTime' }} - {{ info.finish | date:'shortTime' }}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <td *matCellDef="let info" mat-cell>
          <div *ngIf="info.hasLocation" class="flex flex-row gap-2 items-center flex-auto">
            <mat-icon>location_pin</mat-icon>
            <div class="flex flex-col gap-1">
              <div>{{ info.street }} {{ info.streetNumber }}</div>
              <div>{{ info.zip }} {{ info.city }}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row gap-2 items-center flex-auto">
            <mat-icon>description</mat-icon>
            <div>{{ info.title }}</div>
          </div>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row gap-2 items-center flex-auto">
            <app-registration-status [entry]="info"></app-registration-status>
          </div>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row flex-wrap gap-2 items-center flex-auto">
            <mat-chip-listbox>
              <ng-container *ngFor="let category of info.categories">
                <mat-chip>{{ category }}</mat-chip>
              </ng-container>
            </mat-chip-listbox>
          </div>
        </td>
      </ng-container>

      <!-- Publish Column -->
      <ng-container matColumnDef="publish">
        <td *matCellDef="let info" mat-cell>
          <div class="flex flex-row flex-wrap">
            <button *ngIf="!info.published" class="action-fab" mat-mini-fab>
              <mat-icon>unpublished</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matRowDef="let row; columns: displayedColumns;" class="row" mat-row routerLink="./details/{{row.id}}">
      </tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator (page)="service.handlePageChange($event)"
                   [length]="service.totalSize"
                   [pageIndex]="service.pageIndex"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="service.pageSize"
                   class="mb-2 pe-5"
                   showFirstLastButtons="true"
    >
    </mat-paginator>
  </mat-card>

</div>
