<div class="flex flex-col gap-2 content-center">
  <nav mat-tab-nav-bar color="accent" [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="./account" routerLinkActive="active" #rlaa="routerLinkActive"
       [active]="rlaa.isActive">
      <div class="flex flex-row gap-3 items-center">
        <mat-icon>manage_accounts</mat-icon>
        {{ 'backoffice.menu.account' | translate }}
      </div>
    </a>
    <a mat-tab-link routerLink="./event" routerLinkActive="active" #rlae="routerLinkActive"
       [active]="rlae.isActive">
      <div class="flex flex-row gap-3 items-center">
        <mat-icon>event</mat-icon>
        {{ 'backoffice.menu.event' | translate }}
      </div>
    </a>
    <a mat-tab-link routerLink="./admin" routerLinkActive="active" #rlad="routerLinkActive"
       [active]="rlad.isActive">
      <div class="flex flex-row gap-3 items-center">
        <mat-icon>admin_panel_settings</mat-icon>
        {{ 'backoffice.menu.admin' | translate }}
      </div>
    </a>
  </nav>
  <div class="border border-gray-300 rounded mx-2 my-1">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
