<div class="flex flex-col py-4 gap-3">
  <div class="text-xl px-4">{{ 'account.details.profile' | translate }}</div>
  <mat-divider></mat-divider>
  <app-loading-bar [reloading]="loading()"></app-loading-bar>
  <div class="flex flex-col gap-2 content-between px-4">
    @if (profile()) {
      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.email' | translate }}</div>
        <div>{{ profile()!!.email }}</div>
      </div>
      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.phone' | translate }}</div>
        <div>{{ profile()!!.phone }}</div>
      </div>
      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.mobile' | translate }}</div>
        <div>{{ profile()!!.mobile }}</div>
      </div>

      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.firstName' | translate }}</div>
        <div>{{ profile()!!.firstName }}</div>
      </div>
      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.lastName' | translate }}</div>
        <div>{{ profile()!!.lastName }}</div>
      </div>
      <div class="flex flex-row gap-2 justify-between content-center">
        <div>{{ 'profile.property.language' | translate }}</div>
        <div>{{ profile()!!.language }}</div>
      </div>
    }
  </div>
</div>
