<mat-card>
  <mat-card-header class="px-2 py-2 gap-2 align-items-center">
    <mat-icon>insights</mat-icon>
    <div class="header flex-fill">{{ 'backoffice.stats.title' | translate }}</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
    <div [merge]="eventValues" [options]="eventChart" class="demo-chart" echarts></div>
    <div [merge]="participantValues" [options]="participantChart" class="demo-chart" echarts></div>
  </mat-card-content>
</mat-card>
