mat-form-field {
  background-color: white;
  border-radius: 4px;
}

.mat-column-timestamp {
  max-width: 150px !important;
}

.mat-column-actor {
  max-width: 120px !important;
}

.mat-column-type {
  max-width: 80px !important;
}
