<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">
    <button (click)="cancel()" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title ps-2">{{ title | translate }}</span>
  </div>
</mat-toolbar>
<div class="d-flex flex-column gap-2 p-2 align-items-center">
  <mat-card style="width: 300px;">
    <mat-card-content>
      <form [formGroup]="fg">
        <div class="d-flex flex-column gap-2">
          <!-- text-->
          <mat-form-field class="dense-1" hintLabel="{{'category.form.hint.name' | translate}}">
            <mat-label>{{ 'category.form.name' | translate }}</mat-label>
            <input #nameInput formControlName="name" matInput maxlength="40">
            <mat-hint align="end">{{ nameInput.value.length || 0 }}/40</mat-hint>
          </mat-form-field>

          <!-- icon url-->
          <mat-form-field class="dense-1" hintLabel="{{'category.form.hint.iconUrl' | translate}}">
            <mat-label>{{ 'category.form.iconUrl' | translate }}</mat-label>
            <input #titleInput formControlName="iconUrl" matInput>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="start">
      <div class="d-flex flex-row gap-2">
        <button (click)="submit()" [disabled]="!fg.valid || !fg.touched || reloading" color="accent" mat-flat-button
                type="submit">
          {{ 'action.submit' | translate }}
          <mat-icon *ngIf="reloading">
            <mat-spinner diameter="18"></mat-spinner>
          </mat-icon>
        </button>
        <button color="primary" mat-flat-button>{{ 'action.cancel' | translate }}</button>

      </div>
    </mat-card-actions>
  </mat-card>
</div>
