<h2 mat-dialog-title>{{ "registration.dialog.manual.title" | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="fg">
    <div class="flex flex-col gap-2">
      <p>{{ "registration.dialog.manual.question" | translate }}</p>

      <mat-form-field class="dense-1">
        <mat-label>{{ 'account.form.firstName' | translate }}</mat-label>
        <input formControlName="firstName" matInput>
      </mat-form-field>

      <mat-form-field class="dense-1">
        <mat-label>{{ 'account.form.lastName' | translate }}</mat-label>
        <input formControlName="lastName" matInput>
      </mat-form-field>

      <mat-form-field class="dense-1">
        <mat-label>{{ 'account.form.email' | translate }}</mat-label>
        <input formControlName="email" matInput required>
      </mat-form-field>

      <mat-form-field class="dense-1">
        <mat-label>{{ 'account.form.phone' | translate }}</mat-label>
        <input formControlName="phone" matInput>
      </mat-form-field>

      <mat-form-field class="dense-1">
        <mat-label>{{ 'account.form.mobile' | translate }}</mat-label>
        <input formControlName="mobile" matInput>
      </mat-form-field>

      <mat-form-field class="dense-1">
        <mat-label>{{ "registration.peopleAmount" | translate }}</mat-label>
        <input formControlName="size" matInput min="1" required type="number">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="submit()" color="primary" mat-flat-button>
    <mat-icon>check</mat-icon>
    {{ "action.submit" | translate }}
  </button>
  <button color="warn" mat-dialog-close mat-flat-button>
    <mat-icon>cancel</mat-icon>
    {{ "action.cancel" | translate }}
  </button>
</mat-dialog-actions>
