<app-event-details-header (changed)="reload()" [data]="info" [reloading]="reloading"></app-event-details-header>
<app-loading-bar [reloading]="reloading"></app-loading-bar>
@if (info) {
  <div class="container mx-auto px-4 flex flex-col lg:flex-row gap-4 py-4 align-stretch">
    <div class="flex flex-col gap-4 flex-auto">
      <app-event-details-info [info]="info"></app-event-details-info>
      @if (info.registration) {
        <app-registration-details [data]="info.registration"></app-registration-details>
      }
    </div>
    <div class="flex flex-col gap-4 basis-lg shrink grow-0 content-stretch">
      <app-event-details-location [info]="info"></app-event-details-location>
      @if (info.canEdit) {
        <app-share-details [event]="info.event"></app-share-details>
      }
    </div>
  </div>
}
