<app-event-details-header (changed)="reload()" [data]="info" [reloading]="reloading"></app-event-details-header>
<app-loading-bar [reloading]="reloading"></app-loading-bar>
@if (info) {
  <div class="flex lg:flex-row flex-col gap-4 flex-auto p-4">
    <div class="flex flex-col gap-4 left-column">
      <app-event-details-info [info]="info"></app-event-details-info>
      <app-event-details-location [info]="info"></app-event-details-location>
    </div>
    <div class="flex flex-col gap-4 right-column">
      @if (info.registration) {
        <app-registration-details [data]="info.registration"></app-registration-details>
      }
      @if (info.canEdit) {
        <app-share-details [data]="info.event"></app-share-details>
      }
    </div>
  </div>
}
