<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">

    <div class="d-flex flex-row gap-2 flex-fill align-items-center" style="flex: 1 1 calc(50% - .5rem - 100px)">
      <mat-form-field subscriptSizing="dynamic" class="dense-1" style="flex: 1 1 calc(50%);">
        <mat-label>{{'event.search' | translate}}</mat-label>
        <input matInput placeholder="" value="" #input (keyup)="keyUp.emit(input.value)">
        <mat-icon *ngIf="service.searching">
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>

        <button mat-icon-button matSuffix (click)="input.value = ''; search('')" *ngIf="input.value.length > 0">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <button mat-mini-fab color="accent" (click)="search(input.value)">
        <mat-icon>search</mat-icon>
      </button>

    </div>
    <div class="flex-fill" *ngIf="!mobileView"></div>
    <button mat-fab color="accent" style="flex: 0 1 200px;" extended routerLink="./create" *ngIf="!mobileView">
      <mat-icon>event</mat-icon>
      {{'event.create' | translate}}
    </button>
    <div class="flex-fill" *ngIf="!mobileView"></div>

    <button mat-icon-button [matMenuTriggerFor]="contextMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item routerLink="./create">
    <mat-icon>event</mat-icon>
    {{'event.create' | translate}}
  </button>
</mat-menu>
