<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">

    <mat-form-field subscriptSizing="dynamic" class="dense-1" style="flex: 0 1 calc(25%);">
      <mat-label>Search</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
    <button mat-flat-button color="accent">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <div style="flex: 0 1 50px;"></div>

    <button mat-flat-button color="accent">
      <mat-icon>event</mat-icon>
      Create Event
    </button>
    <div class="flex-fill"></div>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

  </div>
</mat-toolbar>
