<mat-toolbar color="primary">
  <div class="d-flex flex-row gap-2 flex-fill align-items-center">

    <div class="d-flex flex-row gap-2 flex-fill align-items-center" style="flex: 0 1 calc(50% - .5rem - 100px)">
      <mat-form-field subscriptSizing="dynamic" class="dense-1" style="flex: 0 1 calc(50%);">
        <mat-label>{{'event.search' | translate}}</mat-label>
        <input matInput placeholder="" value="" #input [disabled]="service.reloading" (keyup)="keyUp.emit(input.value)">
        <mat-icon *ngIf="service.searching">
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>
      </mat-form-field>
      <button mat-mini-fab color="accent" (click)="search(input.value)">
        <mat-icon>search</mat-icon>
      </button>

    </div>

    <button mat-fab color="accent" style="flex: 0 1 200px;" extended routerLink="./create">
      <mat-icon>event</mat-icon>
      {{'event.create' | translate}}
    </button>
    <div class="flex-fill"></div>


  </div>
</mat-toolbar>
