<app-board [reloading]="reloading" (fullTextSearch)="fullTextSearch = $event" (reload)="reload()" title="account.title" searchPlaceholder="account.search">
  <board-toolbar-actions>
    <button (click)="create()" mat-flat-button color="accent">
      <mat-icon>new_label</mat-icon>
      {{ 'account.create' | translate }}
    </button>
  </board-toolbar-actions>
  <mat-card>
    <app-account-table [data]="data" [reloading]="reloading" [pageSize]="pageSize" [pageNumber]="pageNumber" [totalElements]="totalElements"
                       (pageEvent)="handlePageChange($event)"
                       (editEvent)="edit($event)"
                       (deleteEvent)="delete($event)"
    ></app-account-table>
  </mat-card>
</app-board>
