<mat-card>
  <mat-card-header class="!p-2">
    <div class="header flex-auto">{{ 'registration.title' | translate }}</div>
    <app-registration-status [data]="registration"></app-registration-status>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-loading-bar [reloading]="reloading"></app-loading-bar>
    <div class="flex flex-col gap-2 py-2">
      @if (accepted.length > 0) {
        @for (part of accepted; track part.id; let i = $index) {
          <ng-container [ngTemplateOutletContext]="{part:part}" [ngTemplateOutlet]="participant"></ng-container>
        }
      }
      @if (waitList.length > 0) {
        <div class="flex flex-row flex-auto gap-2 items-center">
          <mat-divider class="flex-auto"></mat-divider>
          <div>{{ 'registration.waitlist' | translate }}</div>
          <mat-divider class="flex-auto"></mat-divider>
        </div>
        @for (part of waitList; track part.id; let i = $index) {
          <ng-container [ngTemplateOutletContext]="{part:part}" [ngTemplateOutlet]="participant"></ng-container>
        }
      }
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="flex flex-row gap-2 flex-auto">
      @if (userParticipant) {
        <button (click)="editSelf()" color="accent" mat-flat-button>
          <mat-icon>manage_accounts</mat-icon>
          {{ 'registration.action.edit' | translate }}
        </button>
        <button (click)="cancelSelf()" color="warn" mat-flat-button>
          <mat-icon>person_remove</mat-icon>
          {{ 'registration.action.cancel' | translate }}
        </button>
      } @else {
        <button (click)="participateSelf()" color="primary" mat-flat-button>
          <mat-icon>person_add</mat-icon>
          {{ 'registration.action.participate' | translate }}
        </button>
      }
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #participant let-part='part'>
  <div class="flex flex-row gap-2 items-center justify-between">
    <app-account [account]="part.author" style="flex: 0 1 calc(25%);"></app-account>
    <span>{{ part.size }} {{ 'registration.people' |translate }}</span>
  </div>
</ng-template>
