<mat-card class="flex-auto">
  <mat-card-header class="!p-2">
    <div class="flex flex-row gap-2 align-items-stretch content-stretch justify-between flex-auto">
      <h5 class="flex-auto">{{ 'event.admin.share' | translate }}</h5>
      <div>
        <mat-slide-toggle #sharing>{{ 'event.sharing' | translate }}</mat-slide-toggle>
      </div>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="pt-2">
    <share-buttons theme="modern-dark"
                   [include]="['copy', 'facebook', 'email', 'messenger', 'line', 'print', 'sms', 'telegram', 'viber', 'whatsapp']"
                   [showIcon]="true"
                   [showText]="true"
                   url="http://localhost"
                   description="Angular Share Buttons"
    >
    </share-buttons>
  </mat-card-content>
</mat-card>
