<mat-dialog-content class="mat-typography">
  <div class="flex flex-col justify-center gap-4">
    <div class="flex flex-row justify-center">
      <mat-icon color="accent" class="!w-12 !h-12 !text-5xl">check</mat-icon>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p>{{ "registration.dialog.response.content.1" | translate }}</p>
      <p>{{ "registration.dialog.response.content.2" | translate }}</p>
      <p>{{ "registration.dialog.response.content.3" | translate }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-flat-button mat-dialog-close color="primary">{{ 'action.ok' | translate }}</button>
</mat-dialog-actions>
