<div class="flex flex-column gap-2 p-5 flex-auto">
  <mat-card class="flex-auto">
    <div class="flex flex-col gap-3">
      <div class="flex flex-row gap-2 justify-between items-center flex-auto px-3 pt-3">
        <div class="header">
          {{ 'address.title' | translate }}
        </div>
        <div class="flex-auto"></div>
        <button mat-flat-button color="primary" (click)="import()" *ngIf="address.length <= 0">
          <mat-icon>move_up</mat-icon>
          {{ 'address.action.import' | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="create()">
          <mat-icon>domain_add</mat-icon>
          {{ 'address.action.add' | translate }}
        </button>
      </div>
      <mat-divider></mat-divider>
      <mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>

      <div class="flex flex-col gap-0">
        <table [dataSource]="address" mat-table>

          <ng-container matColumnDef="street">
            <th *matHeaderCellDef mat-header-cell>{{ 'address.table.street' | translate }}</th>
            <td *matCellDef="let entry" mat-cell>{{ entry.street }}</td>
          </ng-container>


          <ng-container matColumnDef="streetNumber">
            <th *matHeaderCellDef mat-header-cell>{{ 'address.table.streetNumber' | translate }}</th>
            <td *matCellDef="let entry" mat-cell>{{ entry.streetNumber }}</td>
          </ng-container>


          <ng-container matColumnDef="zip">
            <th *matHeaderCellDef mat-header-cell>{{ 'address.table.zip' | translate }}</th>
            <td *matCellDef="let entry" mat-cell>{{ entry.zip }}</td>
          </ng-container>


          <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell>{{ 'address.table.city' | translate }}</th>
            <td *matCellDef="let entry" mat-cell>{{ entry.city }}</td>
          </ng-container>


          <ng-container matColumnDef="country">
            <th *matHeaderCellDef mat-header-cell>{{ 'address.table.country' | translate }}</th>
            <td *matCellDef="let entry" mat-cell>{{ entry.country }}</td>
          </ng-container>


          <ng-container matColumnDef="cmd">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let entry" mat-cell>
              <div class="flex flex-row gap-2 justify-between items-center flex-auto">
                <div class="flex-auto"></div>
                <button mat-icon-button color="primary" (click)="edit(entry)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="delete(entry)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <mat-divider class="py-0"></mat-divider>
        <mat-paginator
          (page)="handlePageChange($event)"
          [disabled]="reloading"
          [length]="totalSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[10, 25, 50, 100]"
          [pageSize]="pageSize"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
