<mat-toolbar class="px-2">
  <div class="flex flex-row gap-3 flex-auto items-center">
    <h3>{{ 'mail.title' | translate }}</h3>
    <div class="flex-auto"></div>
    <button (click)="reload()" class="toolbar-action-fab" mat-mini-fab>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
<div class="flex flex-col gap-2 p-4">
  <mat-card>
    <table [dataSource]="data" mat-table>
      <ng-container matColumnDef="timestamp">
        <th *matHeaderCellDef class="col-2" mat-header-cell>{{ 'mail.table.timestamp' | translate }}</th>
        <td *matCellDef="let job" mat-cell>{{ job.timestamp | date:'medium' }}</td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="col-2" mat-header-cell>{{ 'mail.table.status' | translate }}</th>
        <td *matCellDef="let job" mat-cell>
          <mat-chip>{{ 'mail.status.' + job.status | translate }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>{{ 'mail.table.title' | translate }}</th>
        <td *matCellDef="let job" mat-cell>{{ job.title }}</td>
      </ng-container>

      <ng-container matColumnDef="cmd">
        <th *matHeaderCellDef class="col-1" mat-header-cell></th>
        <td *matCellDef="let job" mat-cell>
          <button mat-icon-button routerLink="./history/{{job.id}}">
            <mat-icon>history</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>


    <mat-paginator
      (page)="handlePageChange($event)"
      [disabled]="reloading"
      [length]="totalElements"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card>
</div>
