@import "../../../theme.scss";

.status {
  display: inline-block;
  height: 32px;
  font: 500 14px Roboto, "Helvetica Neue", sans-serif;
  line-height: 32px;
  border-radius: 16px;
  text-align: center;
}

.available {
  background: map-get($open-event-accent, default);
  color: map-get($open-event-accent, default-contrast);
}

.full {
  background: map-get($open-event-warn, default);
  color: map-get($open-event-warn, default-contrast);
}
