<ng-container *ngIf="fg">
  <form [formGroup]="fg">
    <div class="flex flex-col gap-2 align-items-stretch flex-auto pt-2">
      <mat-form-field class="dense-1" style="flex: 1 1 auto">
        <mat-label>{{ 'event.form.maxGuests' | translate }}</mat-label>
        <input formControlName="maxGuestAmount" matInput required type="number">
        <mat-hint align="start">{{ 'event.form.hint.maxGuest'| translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="isVisible('interestedAllowed')" class="dense-1" style="flex: 1 1 auto">
        <mat-label>{{ 'event.form.interestedAllowed' | translate }}</mat-label>
        <mat-select formControlName="interestedAllowed">
          <mat-option [value]="true">{{ 'ACTION.YES'|translate }}</mat-option>
          <mat-option [value]="false">{{ 'ACTION.NO'|translate }}</mat-option>
        </mat-select>
        <mat-hint align="start">{{ 'event.form.hint.interestedAllowed' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="isVisible('ticketsEnabled')" class="dense-1" style="flex: 1 1 auto">
        <mat-label>{{ 'event.form.ticketsEnabled' | translate }}</mat-label>
        <mat-select formControlName="ticketsEnabled">
          <mat-option [value]="true">{{ 'ACTION.YES'|translate }}</mat-option>
          <mat-option [value]="false">{{ 'ACTION.NO'|translate }}</mat-option>
        </mat-select>
        <mat-hint align="start">{{ 'event.form.hint.ticketsEnabled' | translate }}</mat-hint>
      </mat-form-field>

      <mat-progress-bar *ngIf="categoriesLoading" mode="indeterminate"></mat-progress-bar>
      <app-chip-select-pane
        *ngIf="!categoriesLoading"
        [entries]="allCategories"
        [formCtrl]="categoryForm"
        placeholder='{{"event.form.category" | translate}}'
      >
      </app-chip-select-pane>


    </div>
  </form>
</ng-container>
