<ng-container *ngIf="fg">
  <form [formGroup]="fg">
    <div class="d-flex flex-column gap-2 align-items-stretch flex-fill pt-2">
      <mat-form-field class="dense-1" style="flex: 1 1 auto">
        <mat-label>{{'event.form.maxGuests' | translate}}</mat-label>
        <input type="number" matInput formControlName="maxGuestAmount" required>
        <mat-hint align="start">{{'event.form.hint.MaxGuest'| translate}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="dense-1" style="flex: 1 1 auto" *ngIf="isVisible('interestedAllowed')">
        <mat-label>{{'event.form.interestedAllowed' | translate}}</mat-label>
        <mat-select formControlName="interestedAllowed">
          <mat-option [value]="true">{{'ACTION.YES'|translate}}</mat-option>
          <mat-option [value]="false">{{'ACTION.NO'|translate}}</mat-option>
        </mat-select>
        <mat-hint align="start">{{'event.form.hint.interestedAllowed' | translate}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="dense-1" style="flex: 1 1 auto" *ngIf="isVisible('ticketsEnabled')">
        <mat-label>{{'event.form.ticketsEnabled' | translate}}</mat-label>
        <mat-select formControlName="ticketsEnabled">
          <mat-option [value]="true">{{'ACTION.YES'|translate}}</mat-option>
          <mat-option [value]="false">{{'ACTION.NO'|translate}}</mat-option>
        </mat-select>
        <mat-hint align="start">{{'event.form.hint.ticketsEnabled' | translate}}</mat-hint>
      </mat-form-field>

      <mat-progress-bar mode="indeterminate" *ngIf="categoriesLoading"></mat-progress-bar>
      <app-chip-select-pane
        [formCtrl]="categoryForm"
        [entries]="allCategories"
        placeholder='{{"STRUCT.ACTION.SELECTED_CAT" | translate}}'
        *ngIf="!categoriesLoading"
      >
      </app-chip-select-pane>


    </div>
  </form>
</ng-container>
