<mat-card>
  <div class="flex gap-3 p-3 items-center">
    <mat-icon>cloud_download</mat-icon>
    <div class="header flex-auto">{{ 'backoffice.export.title' | translate }}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="flex flex-col gap-4 p-3">
    <div class="flex flex-row justify-between items-center gap-3">
      <span>{{ 'backoffice.export.action.all'| translate }}</span>
      <button (click)="export()" color="primary" mat-mini-fab class="toolbar-action-fab">
        <mat-icon *ngIf="!exporting">cloud_download</mat-icon>
        <mat-icon *ngIf="exporting">
          <mat-spinner diameter="22"></mat-spinner>
        </mat-icon>
      </button>
    </div>

    <div class="flex flex-row justify-between items-center gap-3">
      <span>{{ 'backoffice.export.action.mail.title'| translate }}</span>
      <button (click)="exportMail()" color="primary" mat-mini-fab class="toolbar-action-fab">
        <mat-icon>attach_email</mat-icon>
      </button>
    </div>

    <div class="flex flex-row justify-between items-center gap-3">
      <span>{{ 'backoffice.export.action.summary'| translate }}</span>
      <button (click)="exportSummary()" color="primary" mat-mini-fab class="toolbar-action-fab">
        <mat-icon *ngIf="!summarizing">summarize</mat-icon>
        <mat-icon *ngIf="summarizing">
          <mat-spinner diameter="22"></mat-spinner>
        </mat-icon>
      </button>
    </div>

  </div>
</mat-card>
