<mat-toolbar>
  <div class="flex flex-row gap-2 flex-auto items-center">
    <h3>{{ 'cache.title' | translate }}</h3>
    <div class="flex-auto"></div>
    <button (click)="reload()" class="toolbar-action-fab" mat-mini-fab>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-loading-bar [reloading]="reloading"></app-loading-bar>
<div class="flex flex-row gap-2 flex-auto content-stretch !p-4">
  <mat-card class="flex-auto basis-24">
    <div class="flex flex-col !py-2">
      @for (i of info; track i) {
        <div class="flex flex-row justify-between items-center px-2 py-1">
          <div>{{ i.name }}</div>
          <div>
            <button (click)="reset(i)" [disabled]="reloading" color="primary" mat-mini-fab class="!h-9 !min-h-9">
              <mat-icon>layers_clear</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      }
    </div>
  </mat-card>

  <mat-card class="flex-auto p-2">
    <div [merge]="values" [options]="chart" class="demo-chart" echarts></div>
  </mat-card>
</div>
