<mat-card>
  <mat-card-header class="!pb-2 gap-2 items-center">
    <mat-icon>edit_calendar</mat-icon>
    <div class="header flex-auto">{{ 'backoffice.event.title' | translate }}</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="flex flex-row justify-between items-center">
          <span>{{ 'backoffice.event.action.create'| translate }}</span>
          <button color="primary" mat-mini-fab routerLink="./event">
            <mat-icon>edit_calendar</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
