<mat-card>
  <mat-card-header class="px-2 py-2 gap-2 align-items-center">
    <mat-icon>edit_calendar</mat-icon>
    <div class="header flex-fill">{{'backoffice.event.title' | translate}}</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <!--        <div class="d-flex flex-row justify-content-between align-items-center">-->
        <!--          <span>{{'backoffice.export.action.all'| translate}}</span>-->
        <!--          <button mat-mini-fab color="primary" (click)="export()">-->
        <!--            <mat-icon *ngIf="!exporting">cloud_download</mat-icon>-->
        <!--            <mat-icon *ngIf="exporting">-->
        <!--              <mat-spinner diameter="22" color="primary"></mat-spinner>-->
        <!--            </mat-icon>-->
        <!--          </button>-->
        <!--        </div>-->
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
