<h1 mat-dialog-title>
  @if (data) {
    {{ "address.dialog.change.title" | translate }}
  } @else {
    {{ "address.dialog.create.title" | translate }}
  }
</h1>
<div mat-dialog-content>
  <form [formGroup]="fg">
    <div class="d-flex flex-column gap-2 py-2">
      <div class="d-flex flex-column gap-2 align-items-stretch flex-fill pt-2">

        <div class="d-flex flex-row gap-3">
          <mat-form-field class="dense-1" style="flex: 1 1 auto">
            <mat-label>{{ 'event.form.street' | translate }}</mat-label>
            <input formControlName="street" matInput required>
          </mat-form-field>
          <mat-form-field class="dense-1" style="flex: 0 1 100px">
            <mat-label>{{ 'event.form.nr' | translate }}</mat-label>
            <input formControlName="streetNumber" matInput required>
          </mat-form-field>
        </div>
        <mat-form-field class="dense-1" style="flex: 1 1 auto">
          <mat-label>{{ 'event.form.info' | translate }}</mat-label>
          <input formControlName="additionalInfo" matInput>
        </mat-form-field>
        <div class="d-flex flex-row gap-3">
          <mat-form-field class="dense-1" style="flex: 0 1 200px">
            <mat-label>{{ 'event.form.zip' | translate }}</mat-label>
            <input formControlName="zip" matInput required>
          </mat-form-field>
          <mat-form-field class="dense-1" style="flex: 1 1 auto">
            <mat-label>{{ 'event.form.city' | translate }}</mat-label>
            <input formControlName="city" matInput required>
          </mat-form-field>
        </div>
        <mat-form-field class="dense-1" style="flex: 1 1 auto">
          <mat-label>{{ 'event.form.country' | translate }}</mat-label>
          <input formControlName="country" matInput required>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button (click)="submit()" [disabled]="!fg.valid" color="primary" mat-flat-button>
    <mat-icon>check</mat-icon>
    {{ "action.submit" | translate }}
  </button>
  <button color="warn" mat-dialog-close mat-flat-button>
    <mat-icon>cancel</mat-icon>
    {{ "action.cancel" | translate }}
  </button>
</mat-dialog-actions>
